<div ng-controller="DashboardController as DC">
    <div>
        <h2>Add Your Pet</h2>
        <form>
            <input type="text" placeholder="Pet Name" ng-model="DC.petNameIn"/>
            <input type="text" placeholder="Pet Breed" ng-model="DC.breedIn"/>
            <input type="text" placeholder="Pet Color" ng-model="DC.colorIn"/>
            <select ng-model="DC.selectIn">
                <option value="">---Please select---</option>
                <option ng-repeat="owner in DC.ownerArray" value="{{owner.id}}">{{owner.owner}}</option>
            </select>
            <input type="submit" value="Add" ng-click="DC.postPet()">
        </form>
    </div>
    <div>
        <h2>History</h2>
        <table>
            <tr>
                <th>Owner</th>
                <th>Pet</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Checked In</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="client in DC.clientArray">
                <td>{{client.owner}}</td>
                <td>{{client.pet}}</td>
                <td>{{client.breed}}</td>
                <td>{{client.color}}</td>
                <td>{{client.is_checked_in}}</td>
                <td><button ng-click="DC.deleteClient(client)">Delete</button></td>

            </tr>
        </table>
    </div>
</div>