<div ng-controller="ManageController as MC">
    <div>
        <h2 class="md-display-2">Add Owner</h2>
        <div align="center">
            <form>
                <input type="text" placeholder="Owner's First and Last Name" ng-model="MC.ownerIn" id="ownerInput"/>
                <input type="submit" value="Add" ng-click="MC.addOwner()"/>
            </form>
        </div>
    </div>
    <div>
        <h2 class="md-display-2">Owners</h2>
        <table class="center">
            <tr>
                <th>Name</th>
                <th>Number of Pets</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="owner in MC.ownerArray" ng-show="owner.count" >
                <td>{{owner.owner}}</td>
                <td>{{owner.count}}</td>
                <td><md-button class="md-raised" ng-click="MC.deleteOwner(owner)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>