<h2>Manage Owners</h2>
<div ng-controller="ManageController as MC">
    <div>
        <h2>Add Owner</h2>
        <form>
            <input type="text" placeholder="Owner's First and Last Name" ng-model="MC.ownerIn" id="ownerInput"/>
            <input type="submit" value="Add" ng-click="MC.addOwner()"/>
        </form>
    </div>
    <div>
        <h2>Owners</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Pets</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="owner in MC.ownerArray">
                <td>{{owner.owner}}</td>
                <td>{{owner.count}}</td>
                <td><button ng-click="MC.deleteOwner(owner)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>